<div class="row mt-2">
    <div class="col">
        <div class="card">
            <h3 class="card-header">
                <button id="cria-add-model" class="btn btn-outline-primary float-right">
                    {{#str}}add_model, local_cria{{/str}}
                </button>
            </h3>
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{#str}}name, local_cria{{/str}}</th>
                            <th>{{#str}}actions, local_cria{{/str}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#bot_models}}
                        <tr>
                            <td>{{name}}</td>
                            <td>
                                <a href="{{config.wwwroot}}/local/cria/providers/{{provider_idnumber}}/model.php?id={{id}}" class="btn btn-outline-primary">
                                    {{#str}}edit, local_cria{{/str}}
                                </a>
                                <button class="btn btn-outline-danger delete-bot-type" data-id="{{id}}">
                                    {{#str}}delete, local_cria{{/str}}
                                </button>
                            </td>
                        </tr>
                        {{/bot_models}}
                    </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cria-provider-modal" tabindex="-1" aria-labelledby="cria-provider-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cria-provider-modal-label">{{#str}}providers, local_cria{{/str}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="alert alert-info">
                    {{#str}}select_a_provider, local_cria{{/str}}
                </div>
                <ul class="list-group">
                {{#providers}}
                    <li class="list-group-item">
                        <a href="#" class="btn-select-provider" data-idnumber="{{idnumber}}">
                            <img src="{{image}}" class="img-fluis" style="height:60px; widht: auto; margin-right:10px;">{{name}}
                        </a>
                {{/providers}}
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>