<input type="hidden" id="bot_id" value="{{bot_id}}"/>
{{> local_cria/bot_nav_buttons}}

<div class="row">
    <div class="col">
        <div class="card">
            <h3 class="card-header">
                <div class="col">
                    <h3 class="float-left">{{#str}}entities, local_cria{{/str}}</h3>
                </div>
                <div class="col">
                    <a href="edit_entity.php?bot_id={{bot_id}}"
                    class="btn btn-outline-primary float-right">
                    {{#str}}add_entity, local_cria{{/str}}
                    </a>
                </div>
            </h3>
            <div class="card-body">
                <table id="cria-entities-table" class="table table-striped">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>{{#str}}name, local_cria{{/str}}</th>
                        <th>{{#str}}actions, local_cria{{/str}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

{{> local_cria/delete_modal}}
