<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-toggle="tab" data-target="#nav-home" type="button"
                role="tab" aria-controls="nav-home" aria-selected="true">{{#str}}bot, local_cria{{/str}}
        </button>
        <button class="nav-link" id="nav-display-settings-tab" data-toggle="tab" data-target="#nav-display-settings" type="button"
                role="tab" aria-controls="nav-display-settings" aria-selected="false">{{#str}}display_settings, local_cria{{/str}}
        </button>
    </div>
</nav>
