<style>
    .btn-edit-intent {
        cursor: pointer;
    }
    .btn-edit-intent:hover {
        color: #0d6efd;
    }
</style>
<div class="row">
    <div class="col">
        <input type="hidden" id="bot-id" value="{{bot_id}}">
        <a href="bot_config.php" class="btn btn-outline-primary float-right mr-1">
            {{#str}}bots, local_cria{{/str}}
        </a>
        {{#use_fine_tuning}}
            <a href="edit_intent.php?bot_id={{bot_id}}" class="btn btn-outline-primary float-right mr-1">
            {{#str}}new_category, local_cria{{/str}}
            </a>
        {{/use_fine_tuning}}
    </div>
</div>
<div class="row">
    <div class="col">
        <ul class="nav nav-tabs" id="cria-content-tabs" role="tablist">
            {{#intents}}
                <li class="nav-item" role="presentation">
                    <button
                            class="nav-link {{#active}}active{{/active}}"
                            id="content{{id}}-tab"
                            data-toggle="tab"
                            data-target="#content{{id}}"
                            type="button"
                            role="tab"
                            aria-controls="content{{id}}"
                            aria-selected="{{#active}}true{{/active}}{{^active}}false{{/active}}">
                        {{name}}
                        <i class="bi bi-pencil btn-edit-intent ml-2" data-id="{{id}}"></i>
                    </button>
                </li>
            {{/intents}}
        </ul>
        <div class="tab-content" id="cria-content-tab">
            {{#intents}}
                <div class="tab-pane fade {{#active}}show active{{/active}}" id="content{{id}}" role="tabpanel" aria-labelledby="content{{id}}-tab">
                    <div class="row mt-3">
                        <div class="col-md-6 col-sm-12">
                            <!-- Documents -->
                            <div class="card">
                                <h3 class="card-header">
                                    <div class="col">
                                        <h3 class="float-left">{{#str}}documents, local_cria{{/str}}</h3>
                                    </div>
                                    <div class="col">
                                        <a href="add_content.php?intent_id={{id}}" class="btn btn-outline-primary
                                        float-right">
                                        {{#str}}add_document, local_cria{{/str}}
                                        </a>
                                    </div>
                                </h3>
                                <div class="card-body">
                                    <table id="cira-documents-table" class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>{{#str}}name, local_cria{{/str}}</th>
                                            <th>{{#str}}actions, local_cria{{/str}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#documents}}
                                            <tr>
                                                <td>{{name}}</td>
                                                <td>
                                                    <a href="add_content.php?id={{id}}&intent_id={{intent_id}}"
                                                    class="btn
                                                    btn-outline-primary">
                                                    {{#str}}update, local_cria{{/str}}
                                                    </a>
                                                    <button class="btn btn-outline-danger delete-content"
                                                            data-id="{{id}}">
                                                        {{#str}}delete, local_cria{{/str}}
                                                    </button>
                                                </td>
                                            </tr>
                                        {{/documents}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <!-- Questions -->
                            <div class="card">
                                <h3 class="card-header">
                                    <div class="col">
                                        <h3 class="float-left">{{#str}}questions, local_cria{{/str}}</h3>
                                    </div>
                                    <div class="col">
                                        <a href="edit_question.php?intent_id={{id}}" class="btn btn-outline-primary
                                        float-right">
                                        {{#str}}add_question, local_cria{{/str}}
                                        </a>
                                    </div>
                                </h3>
                                <div class="card-body">
                                    <table id="cira-questions-table" class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>{{#str}}question, local_cria{{/str}}</th>
                                            <th>{{#str}}actions, local_cria{{/str}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {{#questions}}
                                            <tr>
                                                <td>{{value}}</td>
                                                <td>
                                                    <a href="edit_question.php?id={{id}}&intent_id={{intent_id}}"
                                                    class="btn btn-outline-primary">
                                                    {{#str}}update, local_cria{{/str}}
                                                    </a>
                                                    <button class="btn btn-outline-danger delete-question"
                                                            data-id="{{id}}">
                                                        {{#str}}delete, local_cria{{/str}}
                                                    </button>
                                                </td>
                                            </tr>
                                        {{/questions}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/intents}}
        </div>
    </div>
</div>
