<div class="card">
    <h3 class="card-header">
        <div class="col">
            <h3 class="float-left">{{#str}}questions, local_cria{{/str}}</h3>
        </div>
        <div class="col">
            <button type="button"
                    id="criaDeleteSelectedQuestions"
                    class="btn btn-link btn-lg float-right text-danger"
                    data-intent_id="{{id}}"
                    title="{{#str}}delete_selected, local_cria{{/str}}"
            >
                <i class="bi bi-x-circle"></i>
            </button>
            <!-- Export button -->
            <button id="btnExportQuestions"
                    type="button"
                    class="btn btn-link btn-lg dropdown-toggle float-right"
                    title="{{#str}}export_questions, local_cria{{/str}}"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <i class="bi bi-download"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnExportQuestions">
                <a class="dropdown-item"
                   href="{{config.wwwroot}}/local/cria/export/export_questions_excel.php?intent_id={{id}}"
                   title="Excel"
                >
                <i class="bi bi-file-earmark-excel"></i> Excel
                </a>
                <a class="dropdown-item"
                   href="{{config.wwwroot}}/local/cria/export/export_questions_json.php?intent_id={{id}}"
                title="JSON"
                >
                <i class="bi bi-filetype-json"></i> JSON
                </a>
            </div>

            <a href="{{config.wwwroot}}/local/cria/import/index.php?intent_id={{id}}"
            class="btn btn-link btn-lg float-right"
            title="{{#str}}import_questions, local_cria{{/str}}"
            >
            <i class="bi bi-upload"></i>
            </a>

            <a type="button"
                    class="btn btn-link btn-lg ml-2 float-right cria-publish-questions"
                    title="{{#str}}publish_questions, local_cria{{/str}}"
            >
                <i class="bi bi-cloud-arrow-up"></i>
            </a>
            <a href="edit_question.php?intent_id={{id}}"
            class="btn btn-link btn-lg float-right"
            title="{{#str}}add, local_cria{{/str}}"
            >
            <i class="bi bi-plus-circle"></i>
            </a>
        </div>
    </h3>
    <div class="card-body">
        <table id="cria-questions-table" class="table table-striped">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" id="cria-question-select-all">
                </th>
                <th>{{#str}}name, local_cria{{/str}}</th>
                <th>{{#str}}actions, local_cria{{/str}}</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="cria-publish-question-modal" tabindex="-1" aria-labelledby="cria-publish-question-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cria-publish-question-modal-label">{{#str}}publish, local_cria{{/str}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#str}}publish_questions_confirmation, local_cria{{/str}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{#str}}close, local_cria{{/str}}</button>
                <button type="button" id="cria-modal-publish-question-confirm" data-intent_id="{{id}}" class="btn btn-primary">{{#str}}publish, local_cria{{/str}}</button>
            </div>
        </div>
    </div>
</div>