<div class="card">
    <h3 class="card-header">
        <div class="col">
            <h3 class="float-left">{{#str}}questions, local_cria{{/str}}</h3>
        </div>
        <div class="col">
            <button type="button"
                    id="criaDeleteSelectedQuestions"
                    class="btn btn-link btn-lg float-right text-danger"
                    data-intent_id="{{id}}"
                    title="{{#str}}delete_all, local_cria{{/str}}"
            >
                <i class="bi bi-x-circle"></i>
            </button>
            <!-- Export button -->
            <button id="btnExportQuestions"
                    type="button"
                    class="btn btn-link btn-lg dropdown-toggle float-right"
                    title="{{#str}}export_questions, local_cria{{/str}}"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <i class="bi bi-download"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnExportQuestions">
                <a class="dropdown-item"
                   href="{{config.wwwroot}}/local/cria/export/export_questions_excel.php?intent_id={{id}}"
                   title="Excel"
                >
                <i class="bi bi-file-earmark-excel"></i> Excel
                </a>
                <a class="dropdown-item"
                   href="{{config.wwwroot}}/local/cria/export/export_questions_json.php?intent_id={{id}}"
                title="JSON"
                >
                <i class="bi bi-filetype-json"></i> JSON
                </a>
            </div>

            <a href="{{config.wwwroot}}/local/cria/import/index.php?intent_id={{id}}"
            class="btn btn-link btn-lg float-right"
            title="{{#str}}import_questions, local_cria{{/str}}"
            >
            <i class="bi bi-upload"></i>
            </a>

            <a type="button"
                    class="btn btn-link btn-lg ml-2 float-right publish-questions"
                    title="{{#str}}publish_questions, local_cria{{/str}}"
            >
                <i class="bi bi-cloud-arrow-up"></i>
            </a>
            <a href="edit_question.php?intent_id={{id}}"
            class="btn btn-link btn-lg float-right"
            title="{{#str}}add, local_cria{{/str}}"
            >
            <i class="bi bi-plus-circle"></i>
            </a>
        </div>
    </h3>
    <div class="card-body">
        <table id="cria-questions-table" class="table table-striped">
            <thead>
            <tr>
                <th>
                    <input type="checkbox" id="select-questions"/>
<!--                    <a-->
<!--                        href="javascript:void(e);"-->
<!--                        id="select-all-questions"-->
<!--                >-->
<!--                    Select All-->
<!--                </a>/<a-->
<!--                        href="javascript:void(e);"-->
<!--                        id="deselect-all-questions">-->
<!--                    Deselect all-->
<!--                </a>-->
                </th>
                <th>{{#str}}question, local_cria{{/str}}</th>
                <th style="width: 30%;">{{#str}}actions, local_cria{{/str}}</th>
            </tr>
            </thead>
            <tbody>
            {{#questions}}
                <tr>

                    <td>
                        {{^published}}
                            <input type="checkbox" class="question-select"
                                   data-id="{{id}}"/>
                        {{/published}}
                    </td>

                    <td>{{name}}</td>
                    <td style="width: 30%;">
                        <a href="edit_question.php?id={{id}}&intent_id={{intent_id}}"
                        class="btn btn-link btn-lg"
                        title="{{#str}}update, local_cria{{/str}}"
                        >
                        <i class="bi bi-pencil"></i>
                        </a>
                        {{#show_linked}}
                            <button
                                    type="button"
                                    class="btn link btn-lg"
                                    title="{{link_text}}"

                            >
                                <i class="bi bi-link-45deg"></i>
                            </button>
                        {{/show_linked}}
                        <button class="btn btn-link btn-lg text-danger delete-question"
                                title="{{#str}}delete, local_cria{{/str}}"
                                data-id="{{id}}">
                            <i class="bi bi-x-circle"></i>
                        </button>
                    </td>
                </tr>
            {{/questions}}
            </tbody>
        </table>
    </div>
</div>