{{#published_bots}}
    <div class="row mb-3">
        <div class="col">
            <div class="card-deck">
                {{#items}}
                    <div class="card card-outline card-primary">
                        <h3 class="card-header">
                            {{{name}}}
                        </h3>
                        <div class="card-body">
                            <p>
                                {{{description}}}
                            </p>

                        </div>
                        <div class="card-footer">
                            <a href="{{plugin_path}}" class="btn btn-outline-primary
                            btn-sm float-right">
                                {{#str}}take_me_there, local_cria{{/str}}
                            </a>
                        </div>
                    </div>
                {{/items}}
            </div>
        </div>
    </div>
{{/published_bots}}

