<div id="fitem_id_tone" class="form-group fitem">
    <label for="id_tone" style="width: 100%;">{{#str}}response_length, local_cria{{/str}}</label>
    <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-primary btn-short">{{#str}}short, local_cria{{/str}}</button>
            <button type="button" class="btn btn-outline-primary btn-medium">{{#str}}medium, local_cria{{/str}}</button>
            <button type="button" class="btn btn-outline-primary btn-long">{{#str}}long, local_cria{{/str}}</button>
    </div>
</div>
