{{^bot_id}}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <h1 class="alert-heading">
                    {{#str}}no_bot_id, local_cria{{/str}}
                </h1>
                <p>{{#str}}no_bot_defined, local_cria{{/str}}</p>

            </div>
        </div>
    </div>
{{/bot_id}}
{{#bot_id}}
    <input id="cria-bot-id" type="hidden" name="bot_id" value="{{bot_id}}">
    <input id="cria-chat-id" type="hidden" name="chat_id" value="0">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                <h3 class="alert-heading">
                <span id="cria-cost" class="badge badge-pill badge-success float-right" style="display:none;">

                    </span>
                </h3>
                <p>{{#str}}info_text, local_cria{{/str}}</p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-12 h-100">
                            <div class="form-group">
                                <label for="project_name">{{#str}}project_name, local_cria{{/str}}</label>
                                <input type="text" class="form-control" id="project_name"
                                       aria-describedby="project_name_help">
                                <small id="project_name_help" class="form-text text-muted">{{#str}}
                                    project_name_help, local_cria{{/str}}</small>
                            </div>

                            <div class="form-group">
                                <label for="date">{{#str}}date, local_cria{{/str}}</label>
                                <input type="text" class="form-control" id="date" aria-describedby="date_help">
                                <small id="date_help" class="form-text text-muted">{{#str}}
                                    date_help, local_cria{{/str}}</small>
                            </div>
                            <div class="form-group">
                                <label for="time">{{#str}}time, local_cria{{/str}}</label>
                                <input type="text" class="form-control" id="time" aria-describedby="time_help">
                                <small id="time_help" class="form-text text-muted">{{#str}}
                                    date_help, local_cria{{/str}}</small>
                            </div>
                            <div class="form-group">
                                <label for="location">{{#str}}location, local_cria{{/str}}</label>
                                <input type="text" class="form-control" id="location" aria-describedby="location_help">
                                <small id="location_help" class="form-text text-muted">{{#str}}
                                    location_help, local_cria{{/str}}</small>
                            </div>
                            <div class="form-group">
                                <label for="language">{{#str}}language, local_cria{{/str}}</label>
                                <select class="form-control" id="language" aria-describedby="language_help">
                                    <option value="en">English</option>
                                    <option value="fr">Français</option>
                                </select>
                                <small id="language_help" class="form-text text-muted">{{#str}}
                                    language_help, local_cria{{/str}}</small>
                            </div>
                        </div>
                        <div class="col-md-8 col-sm-12 h-100">
                            <div class="form-group">
                                <label for="notes">{{#str}}notes, local_cria{{/str}}</label>
                                <textarea class="form-control" rows="20" id="notes"
                                          aria-describedby="notes_help"></textarea>
                                <small id="notes_help" class="form-text text-muted">{{#str}}
                                    notes_help, local_cria{{/str}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <div id="starting-process" class="progress" style="display:none; height: 30px; width: 100%;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                 role="progressbar"
                                 aria-valuenow="100"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                Reading your notes and creating minutes...
                            </div>
                        </div>
                        <div id="almost-done" class="progress" style="display:none; height: 30px; width: 100%;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                 role="progressbar"
                                 aria-valuenow="100"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                Almost done...
                            </div>
                        </div>
                        <div id="process-complete" class="progress" style="display:none; height: 30px; width: 100%;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                 role="progressbar"
                                 aria-valuenow="100"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                Downloading your minutes...
                            </div>
                        </div>
                        <button id="process-notes" type="button" class="btn btn-outline-primary btn-lg"
                                data-bot_id="{{bot_id}}">
                            {{#str}}process_notes, local_cria{{/str}}
                            <span id="cria-aprox-cost" class="badge badge-pill badge-danger" style="display:none;"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/bot_id}}