<div class="modal fade" id="cria-publish-document-modal" tabindex="-1" aria-labelledby="cria-publish-document-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cria-publish-document-modal-label">
                    {{#str}}publish, local_cria{{/str}} {{#str}}documents, local_cria{{/str}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="{{#str}}cancel, local_cria{{/str}}">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{#str}}publish_document_confirm, local_cria{{/str}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">{{#str}}cancel, local_cria{{/str}}</button>
                <button type="button" class="btn btn-primary" id="cria-modal-publish-confirm">{{#str}}publish, local_cria{{/str}}</button>
            </div>
        </div>
    </div>
</div>