<div class="col-md-6">
    <div class="card">
        <div class="card-header">
            <div class="col">
                <b>{{#str}}examples, local_cria{{/str}}</b>
            </div>
        </div>
        <div class="card-body">
            <table id="cria-question-examples-table" class="table table-striped">
                <tbody>
                {{#examples}}
                    <tr>
                        <td>
                            <div class="example-question" style="cursor: pointer;" contenteditable="true"
                                 data-id="{{id}}">{{value}}</div>
                            {{^indexed}}
                                <span class="badge badge-pill badge-warning">Unpublished</span>
                            {{/indexed}}
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-danger delete-question-example" data-id="{{id}}">
                                {{#str}}delete, local_cria{{/str}}
                            </button>
                        </td>
                    </tr>
                {{/examples}}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="col">
                <div class="input-group mb-2 mr-sm-2">
                    <input type="text" class="form-control" id="cria-question-example"
                    placeholder="Enter an example of this question here">
                    <div class="input-group-append btn-add-question-example" style="cursor:pointer;">
                        <div class="input-group-text"><i class="bi bi-plus-square"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>