{{> local_cria/bot_nav_buttons}}

<div class="row mt-2">
    <div class="col">
        <div class="card">
            <h3 class="card-header">
                {{name}}
            </h3>
            <div class="card-body">
                {{#use_bot_server}}
                    {{> local_cria/indexing_server_test}}
                {{/use_bot_server}}
                {{^use_bot_server}}
                    {{> local_cria/none_indexing_server_test}}
                {{/use_bot_server}}

            </div>
        </div>
    </div>
</div>