<h3>{{#str}}statistics, local_cria{{/str}}</h3>
<div id="test-results">
    <table class="table table-striped">
        <tbody>
        <tr>
            <td>{{#str}}prompt_tokens, local_cria{{/str}}</td>
            <td><div id="cria-prompt-tokens">0</div></td>
        </tr>
        <tr>
            <td>{{#str}}completion_tokens, local_cria{{/str}}</td>
            <td><div id="cria-completion-tokens">0</div></td>
        </tr>
        <tr>
            <td>{{#str}}total_tokens, local_cria{{/str}}</td>
            <td><div id="cria-total-tokens">0</div></td>
        </tr>
        <tr>
            <td>{{#str}}cost, local_cria{{/str}}</td>
            <td><div id="cria-cost">$0.00</div></td>
        </tr>
        </tbody>
    </table>
</div>