<div id="fitem_id_tone" class="form-group fitem">
    <label for="id_tone" style="width: 100%;">{{#str}}tone, local_cria{{/str}}</label>
    <div class="btn-group" role="group" aria-label="Basic example">
        {{#tone}}
            <button id="{{element_id}}" type="button" class="btn btn-outline-primary btn-gpt-tone " {{gpt_data}}>{{name}}</button>
        {{/tone}}
    </div>
</div>
