{{^bot_id}}
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <h1 class="alert-heading">
                    {{#str}}no_bot_id, local_cria{{/str}}
                </h1>
                <p>{{#str}}no_bot_defined, local_cria{{/str}}</p>

            </div>
        </div>
    </div>
{{/bot_id}}
{{#bot_id}}
    <input id="cria-chat-id" type="hidden" name="chat_id" value="0">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                <h3 class="alert-heading">
                <span id="cria-cost" class="badge badge-pill badge-success float-right" style="display:none;">

                    </span>
                </h3>
                <p>{{#str}}info_text, local_cria{{/str}}</p>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 h-100">
                            <h3>{{#str}}voice, local_cria{{/str}}</h3>
                            <div class="alert alert-warning">
                                {{#str}}voice_help, local_cria{{/str}}
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="voice" id="voice0" value="0" checked>
                                <label class="form-check-label" for="inlineRadio1">
                                    {{#str}}unchanged, local_cria{{/str}}
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="voice" id="voice1" value="1" >
                                <label class="form-check-label" for="inlineRadio1">
                                    {{#str}}formal, local_cria{{/str}}
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="voice" id="voice2" value="2">
                                <label class="form-check-label" for="inlineRadio2">
                                    {{#str}}informal, local_cria{{/str}}
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="voice" id="voice3" value="3">
                                <label class="form-check-label" for="inlineRadio2">
                                    {{#str}}academic, local_cria{{/str}}
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="voice" id="voice4" value="4">
                                <label class="form-check-label" for="inlineRadio2">
                                    {{#str}}literature, local_cria{{/str}}
                                </label>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="paraphrase">{{#str}}paraphrase_text, local_cria{{/str}}</label>
                                <select class="form-control" id="paraphrase" aria-describedby="paraphrase_help">
                                    <option value="no">No</option>
                                    <option value="yes">Yes</option>
                                </select>
                                <small id="paraphrase_help" class="form-text text-muted">{{#str}}
                                    paraphrase_help, local_cria{{/str}}</small>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="language">{{#str}}translate_to, local_cria{{/str}}</label>
                                <select class="form-control" id="language" aria-describedby="language_help">
                                    <option value="en">English</option>
                                    <option value="fr">Français</option>
                                </select>
                                <small id="language_help" class="form-text text-muted">{{#str}}
                                    language_help, local_cria{{/str}}</small>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="notes">{{#str}}notes, local_cria{{/str}}</label>
                                <textarea class="form-control" rows="20" id="notes"
                                          aria-describedby="notes_help"></textarea>
                                <small id="notes_help" class="form-text text-muted">{{#str}}
                                    notes_help, local_cria{{/str}}</small>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 h-100">
                            <div class="form-group">
                                <label for="notes">{{#str}}translation, local_cria{{/str}}</label>
                                <div class="card">
                                    <div class="card-body">
                                        <div id="cria-translation-container"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-end">
                        <div id="starting-process" class="progress" style="display:none; height: 30px; width: 100%;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-info"
                                 role="progressbar"
                                 aria-valuenow="100"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                Reading your notes and creating minutes...
                            </div>
                        </div>
                        <div id="almost-done" class="progress" style="display:none; height: 30px; width: 100%;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                 role="progressbar"
                                 aria-valuenow="100"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                Almost done...
                            </div>
                        </div>
                        <div id="process-complete" class="progress" style="display:none; height: 30px; width: 100%;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                 role="progressbar"
                                 aria-valuenow="100"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                Downloading your minutes...
                            </div>
                        </div>
                        <button id="process-notes" type="button" class="btn btn-outline-primary btn-lg"
                                data-bot_id="{{bot_id}}">
                            {{#str}}process, local_cria{{/str}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/bot_id}}